
Секция 6/HW6/HW6/.vs/HW6/v16/ipch/AutoPCH/c2ce8b9316f7cb1c/HW6.ipch
/.metadata/
protoc-3.19.1-win64/bin/protoc.exe
protoc-3.19.1-win64/include/google/protobuf/any.proto
protoc-3.19.1-win64/include/google/protobuf/api.proto
protoc-3.19.1-win64/include/google/protobuf/compiler/plugin.proto
protoc-3.19.1-win64/include/google/protobuf/descriptor.proto
protoc-3.19.1-win64/include/google/protobuf/duration.proto
protoc-3.19.1-win64/include/google/protobuf/empty.proto
protoc-3.19.1-win64/include/google/protobuf/field_mask.proto
protoc-3.19.1-win64/include/google/protobuf/source_context.proto
protoc-3.19.1-win64/include/google/protobuf/struct.proto
protoc-3.19.1-win64/include/google/protobuf/timestamp.proto
protoc-3.19.1-win64/include/google/protobuf/type.proto
protoc-3.19.1-win64/include/google/protobuf/wrappers.proto
protoc-3.19.1-win64/readme.txt
Section6/HW7/QT/build-untitled-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/.qmake.stash
Section6/HW7/QT/build-untitled-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/conanfile.txt
Section6/HW7/QT/build-untitled-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/main.o
Section6/HW7/QT/build-untitled-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/untitled.exe
Section6/HW7/QT/build-untitled-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/Domashka7.proto
Section6/HW7/QT/build-untitled-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/Makefile
Section6/HW7/QT/build-untitled-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/Makefile.Debug
Section6/HW7/QT/build-untitled-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/Makefile.Release
Section6/HW7/Eclipse/src/Oops1.cpp
Section6/HW7/Eclipse/Debug/src/subdir.mk
Section6/HW7/Eclipse/Debug/sources.mk
Section6/HW7/Eclipse/Debug/objects.mk
Section6/HW7/Eclipse/Debug/makefile
Section6/HW7/Eclipse/.settings/language.settings.xml
Section6/HW7/Eclipse/.project
Section6/HW7/Eclipse/.cproject
